* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body {
	background: #D7CEC7;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
h3 {
	color:#fff;
}
.container {
	position: relative;
	width: 100%;
	max-width: 1000px;
	max-height: 1000px;
	margin: 50px;
	/*background: #fff;*/
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.container .left_side {
	position: relative;
	background: rgba(0, 0, 0, 0.80);
	padding: 40px;
}
.perfiltext {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.perfiltext .img {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}
.perfiltext .img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.perfiltext h2 {
	color: #fff;
	font-size: 1.5em;
	margin-top: 20px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}
.perfiltext h2 span {
	font-size: 0.8em;
}
.contact_me {
	padding-top: 40px;
}
.title {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}
.contact_me ul {
	position: relative;
}
.contact_me ul li {
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}
.contact_me ul li .icon{
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: #9099A2;
}
.contact_me ul li span{
	color: #fff;
	font-weight: 300;
}
.contact_me.educacion li {
	margin-bottom: 15px;
}
.contact_me.educacion h5 {
	color: #9099A2;
	font-weight: 500;
}
.contact_me.educacion h4:nth-child(2) {
	color: #fff;
	font-weight: 500;
}
.contact_me.educacion h4 {
	color: #9099A2;
	font-weight: 300;
}
.contact_me.lenguajes .porcentaje{
	position: relative;
	width: 100%;
	height: 6px;
	background: #D5D5D5;
	display: block;
	margin-top: 5px;
}
.contact_me.lenguajes .porcentaje div{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #3CC47C;
}
/*==========================================*/
.container .right_side {
	position: relative;
	background: #fff;
	padding: 40px;
}
.about {
	margin-bottom: 50px;
}
.about:last-child {
	margin-bottom: 0;
}
.title2{
	color: #6D7793;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
p{
	color: #333;
}
.about .box {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}
.about .box .word {
	min-width: 150px;
	margin-top: 5%;
}
.about .box .word h5{
	text-transform: uppercase;
	color: #848c90;
	font-weight: 600;
}
.about .box .text h4 {
	text-transform: uppercase;
	color: #6D7793;
	font-size: 16px;
}
.skills .box {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
}
.skills .box h4{
	text-transform: uppercase;
	color: #848c99;
	font-weight: 500;
}
.skills .box .porcentaje {
	position: relative;
	width: 100%;
	height: 10px;
	background: #f0f0f0;

}
.skills .box .porcentaje div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #3CC47C;
}
.interest ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}
.interest ul li {
	list-style: none;
	color: #333;
	font-weight: 500;
	margin: 10px 0;
}
.interest ul li .fa {
	color: purple;
	font-size: 18px;
	width: 20px;
}
@media(max-width: 1000px){
	.container{
		margin: 10px;
		grid-template-columns: repeat(1, 1fr);
	}
	.interest ul {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 600px) {
	.about .box .word {
		min-width: 150px;
		margin-bottom: 5px;
	}
	.interest ul {
		grid-template-columns: repeat(1, 1fr);
	}
	.skills .box {
		grid-template-columns: repeat(1, 1fr);
	}
}
